{% extends "layout.html" %}
{% block headers %}
  <script src="/static/js/d3.v7.min.js"></script>
  <script src="/static/js/utils.js?cache={{startup_timestamp}}"></script>
  <script src="/static/js/exploratory.js?cache={{startup_timestamp}}"></script>
  <style nonce="{{nonce}}">
#data-model-explorer {
    width: 100%;
    height: 400pt;
    margin: 1em 0em 1em 0em;
    border: solid 2pt var(--border-strong);
    background: var(--brand-subtle);
    border-radius: .5em;
}
.node-column-title {
    fill: var(--text-muted);
    font-size: 24px;
    font-family: 'Fira Code', monospace;
    transform: translate(0, 30);
}
.active-node {
    fill: var(--surface-highlight) !important;
    stroke-width: 0px !important;
}
.node-group { cursor: pointer; }
.node-group-item { font-size: 12pt; font-family: 'Fira Code', monospace; }
.node-group-item-white { fill: var(--surface); }
.node-group-item-gray { fill: var(--surface-sunken); }
.node-item {
    width: 250px;
    height: 30px;
    fill-opacity: .95;
    rx: .5em;
    ry: .5em;
    stroke-width: 2px;
    stroke: var(--input-border);
}
g.node-group > text { fill: var(--primary-foreground-color); }
.grid-line {
    stroke: var(--brand);
    stroke-width: 2px;
    stroke-opacity: .1;
}
.highlighted-grid-line {
    stroke: var(--border-strong);
    stroke-width: 2px;
    stroke-opacity: 1;
}
</style>
<script nonce="{{nonce}}">
var ontology_url = "{{ontology_url}}";
</script>
{% endblock %}
{% block submenu %}
<ul>
  <li><a href="/admin/dashboard">Dashboard</a>
  <li><a href="/admin/users">Users</a>
  <li class="active corporate-identity-submenu-active">Exploratory
  <li><a href="/admin/reports">Reports</a>
  {% if may_query %}<li><a href="/admin/sparql">Query</a>{% endif %}
  {% if may_review_quotas %}<li><a href="/admin/quota-requests">Quota requests</a>{% endif %}
</ul>
{% endblock %}
{% block body %}
<h1>Data model explorer<span class="no-select"> &nbsp;<a id="remove-cache" href="#" class="fas fa-sync"></a></span></h1>
<svg id="data-model-explorer"></svg>
{% endblock %}
