src/seshat.egg-info/
*__pycache__*
dist/
build/
dump/
rpmbuild/BUILD/
rpmbuild/RPMS/
rpmbuild/SOURCES/
rpmbuild/SPECS/seshat.spec
rpmbuild/SRPMS/
autom4te.cache/
aclocal.m4
configure
configure~
config.log
config.status
Makefile
Makefile.in
pyproject.toml
missing
install-sh
.DS_Store
.idea/
seshat.spec
seshat.xml
seshat*.tar.gz
src/seshat/config.py
doc/figures/*.svg
doc/config.typ
doc/index.html
doc/seshat.pdf
doc/seshat.1
docker/release-build
pylint.log
*.bak
*.BAK
seshat.code-workspace
install-sh~
query.sparqlbook
.vscode/launch.json
.scannerwork/
sonar-project.properties
guix.scm