{% extends "layout.html" %}
{% block headers %}
<script src="/static/js/quill.min.js"></script>
<script src="/static/js/utils.js?cache=1744290797"></script>
<link href="/static/css/quill.snow.css" rel="stylesheet">
<link href="/static/css/form.css?cache=1738927707" rel="stylesheet">
<style nonce="{{nonce}}">
.info { margin-left: 5pt; color: #555; }
.ql-toolbar.ql-snow, .texteditor { width: 852pt !important; border-radius: 0 .5em 0 0; }
.texteditor { border-radius: 0em 0em .5em .5em !important; border-top: none !important; }
#description { height: 500px !important; }
</style>
<script nonce="{{nonce}}">
document.addEventListener("DOMContentLoaded", function () {
    new Quill('#description', { modules: quill_modules, theme: 'snow' });
    {%- if error_message %}
    show_message ("failure", "<p>{{error_message}}</p>");
    {%- endif %}{% if success_message %}
    show_message ("success", "<p>{{success_message}}</p>");
    {%- endif %}

    document.getElementById("submit-feedback")?.addEventListener("click", function (event) {
      document.getElementById("content")?.classList.add("loader-top");
      document.getElementById("content-wrapper").style.opacity = '0.15';
    });
    document.getElementById("description")?.addEventListener("keyup", function(event) {
        document.getElementById("description_html").value = document.querySelector("#description .ql-editor").innerHTML;
    });
});
</script>
{% endblock %}
{% block body %}
<h1>Feedback</h1>
<p></p>
<form action="/feedback" method="post">
<label for="email">E-mail</label><span class="info">By entering your e-mail address we will be able to get in touch.</span>
<input type="text" id="email" name="email" value="{%if email is not none %}{{email}}{% endif %}" placeholder="Your e-mail address" />
<span id="feedback-type-label" class="group-label">Type</span>
<div id="feedback-type-wrapper" role="group" aria-labelledby="feedback-type-label" class="options-wrapper">
<input type="radio" name="feedback_type" id="bug" value="bug" checked="checked" /><!--
--><label for="bug" class="no-head">Bug / broken functionality</label><!--
--><input type="radio" name="feedback_type" id="missing_functionality" value="missing" /><!--
--><label for="missing_functionality" class="no-head">Missing functionality</label><!--
--><input type="radio" name="feedback_type" id="other" value="other" /><!--
--><label for="other" class="no-head">Other</label>
</div>
<input type="hidden" id="description_html" name="description" />
<span id="feedback-description-label" class="group-label">Description</span><span class="info">Please try to be as detailed as possible.</span>
<div id="description" role="group" aria-labelledby="feedback-description-label" class="texteditor"></div>
<div class="center"><input type="submit" id="submit-feedback" class="button corporate-identity-standard-button" value="Send feedback" /></div>
</form>
{% endblock %}
