{% extends "layout.html" %}
{% block headers %}
<style nonce="{{nonce}}">
#portal-summary { padding: .5em .5em .5em 0em; text-align: center; margin: 0 auto; }
.portal-summary-item { text-align: center; width: 100%; }
.portal-summary-item-left {
    display: inline-block;
    min-width: 275pt;
    text-align: right;
    font-size: 2em;
    font-family: 'Fira Code', monospace;
    padding: .1em .5em .1em 0em;
    border-right: solid 2pt #ccc;
}
.portal-summary-item-right { display: inline-block; min-width: 275pt; text-align: left; padding-left: 1em; }
.h1-suffix {
  display: inline-block;
  border-radius: .5em;
  padding: .1em .4em .1em .4em;
  font-size: 14pt;
  transform: translate(12%, -12%);
}
#new-notice { margin-top: 0em; }
</style>
{% endblock %}
{% block body %}
{%- if notice_message %}
<div id="new-notice" class="notice-box"><p>{{notice_message|safe}}</p></div>
{%- endif %}
{%- if show_portal_summary %}
<h1 class="corporate-identity-h1">Summary</h1>
<div id="portal-summary">
{%- for item in ["datasets", "authors", "collections", "files", "bytes"] %}
<div class="portal-summary-item">
  <div class="portal-summary-item-left">{{summary_data[item]}}</div><!--
--><div class="portal-summary-item-right">{{item}}</div>
</div>
{%- endfor %}
</div>
{%- endif %}
{%- if show_latest_datasets %}
<h1 class="corporate-identity-h1">Latest datasets <span class="h1-suffix"><a href="/search">All</a></span></h1>
<div id="latest-datasets">
  <ul>
    {%- for (url,title,pub_date,authors) in latest %}
      <li>
        <div class="latest-item">
          <div class="latest-title"><a class="corporate-identity" href="{{url}}" title="Published {{pub_date}}"><strong>{{title}}</strong></a></div>
          <div class="authors">
            {%- for author in authors %}
            {{author.full_name}}
            {%- if loop.revindex0 %}, {%- endif %}
            {%- endfor %}
          </div>
        </div>
      </li>
    {%- endfor %}
  </ul>
</div>
{%- endif %}
{{- portal_html | default('', true) | safe }}
{% endblock %}
