Source: seshat
Maintainer: Roel Janssen <rrejanssen@gmail.com>
Homepage: https://seshat.software/
Vcs-Git: https://codeberg.org/seshat/seshat.git
Section: misc
Priority: optional
Standards-Version: 4.7.0
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13),
 dh-python,
 python3,
 python3-pip,
 python3-setuptools,

Package: seshat
Architecture: all
Depends: ${misc:Depends},
 ${python3:Depends},
 python3-jinja2,
 python3-pygit2,
 python3-rdflib,
 python3-requests,
 python3-werkzeug,
 python3-defusedxml,
 python3-pil,
 git
Suggests: python3-boto3, python3-onelogin-saml2, python3-waitress
Description: Data repository system
 A data and software repository system.
